<section id="forgot">
<h1>Change Password!</h1>
<div class="container">
    <div 
    class="alert alert-success" role="alert" *ngIf="showAlert">
       Password Reset Successfully!! Proceed to 
       <a href="#" class="alert-link"  [routerLink]="['/signIn']">Sign In</a>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorBool">
        Provided Login ID doesn't exist.
          </div>
    <form (ngSubmit)="!forgotForm.invalid && updatePassword()" #forgotForm="ngForm">
        <div class="form-group">
            <label for="loginId">Login ID</label>
            <input type="text" class="form-control" name="loginId" placeholder="Enter Login ID" required="required"
                [(ngModel)]="loginId">
        </div>
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" class="form-control" name="newPassword" placeholder="Enter New Password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
                required="required" #password="ngModel" [(ngModel)]="newPassword">
        </div>
        <div *ngIf="password.errors?.['required'] &&  (password?.dirty || password?.touched)" 
        class="text-danger">
           Password is required
        </div>
        <div *ngIf="password?.errors?.['pattern'] && (password?.dirty || password?.touched)" 
         class="text-danger">
            Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
         </div>
        <div class="form-group">
            <label for="c_newpassword">Confirm New Password</label>
            <input type="password" class="form-control" name="c_newpassword" placeholder="Confirm New Password"
                required="required" #cnewPassword="ngModel" [(ngModel)]="c_newPassword" pattern="{{newPassword}}">
        </div>
        <div *ngIf="cnewPassword?.errors?.['pattern'] && (cnewPassword?.dirty || cnewPassword?.touched)" 
        class="text-danger">
          Should be same as Password
        </div>

        <button type="submit" [disabled]="!forgotForm.valid" class="btn btn-primary">Update Password</button>
    </form>
</div>
</section>